<%-include('./partials/header')-%>
    <div class="container">
        <div class="center-div">
            <img src="assets/logo1.png" alt="">
            <p>Create an account or login</p>
            <%- include('./partials/messages') -%>
            <div class="form-container">
                <form class="login-form" action="/user/login" method="POST">
                    <div class="username-field icon">
                        <i class="fa-solid fa-envelope fa-lg"></i>
                        <input type="email" placeholder="Email" name="email" required>
                    </div>
                    <div class="password-field icon">
                        <i onclick="changeIcon()" class="fa-sharp fa-solid fa-eye-slash fa-lg" id="eye"></i>
                        <input type="password" placeholder="Password" id="password" name="password" required>
                    </div>  
                    
                    <button type="submit">Login</button>
                </form>
                <p>Don't have an account yet? <a href="/user/register">Register</a></p>
            </div>
        </div> 
    </div>
<%-include('./partials/footer')-%>