@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
.container{
    width: 400px;
    margin: 20px auto;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    border: 1px solid rgb(207, 205, 205);
}
.container .center-div{
    text-align: center;
}
.container .center-div img{
    max-width: 150px;
    height: 100px;
}
.container .center-div p{
    font-weight: 600;
    font-size: 0.9em;
    letter-spacing: 1px;
}
form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 180px;
    align-items: center;
    justify-content: space-between;
    background: #eee;
    margin-top: 5px;
    border-radius: 10px;
}
.password-field , .username-field{
    width: 100%;
    position: relative;
}
input{
    display: block;
    width: 100%;
    padding:  5px 30px 5px 5px;
    font-weight: 400;
    outline: none;
    border: none;
    border-bottom: 1px solid #aaa;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}
form button{
    background: #0f0;
    border: none;
    border-radius: 8px;
    width: 100%;
    padding: 3px 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
}
a{
    text-decoration: none;
    color: red;
    font-size: 1.1em;
    font-weight: 600;
}
.icon i{
    position: absolute;
    right: 2px;
    top: 50%;
}
.password-field i{
    cursor: pointer;
}
.title h1{
    color: red
}
.register-form{
    align-items: flex-start;
    padding-top: 0;
}
.register-form .field{
    margin: 10px 0;
    width: 100%;
}
.register-form input{
    padding-right: 5px;
    margin-top: 5px;
}
.register-form sup{
    color: red;
    font-size: 1.1em;
}
.container.register-page-container{
    padding: .5rem 1rem 1rem 1rem;
}
.message-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(243, 144, 144);
    padding: 0.2rem 0.3rem;
    border-radius: 5px;
    margin: 6px 0;
}
.message-container i{
    cursor: pointer;
}
.message-container p span{
    color: red;
}
.message-container.success{
    background: rgb(199, 253, 127);
}
a#logout{
    text-decoration: underline;
}